<h1><%= @state.name %></h1>

<h2>Current Marijuana Policy</h2>

<div class="icons">

	<p><%= image_tag("possession.png", class: "#{@state.possession}") %> <%= @state.possession_details %></p>
	<p><%= image_tag("paraphernalia.png", class: "#{@state.paraphernalia}") %> <%= @state.paraphernalia_details %></p>
	<p><%= image_tag("consumption.png", class: "#{@state.consumption}") %> <%= @state.consumption_details %></p>
	<p><%= image_tag("growing.png", class: "#{@state.growing}" ) %> <%= @state.growing_details %></p>
	<p><%= image_tag("medical.png", class: "#{@state.medical}" ) %> <%= @state.medical_details %></p>
	<p><%= image_tag("buy_or_sell.png", class: "#{@state.buy_or_sell}" ) %> <%= @state.buy_or_sell %><%= @state.buy_or_sell_details %></p>

</div>


<h2>State News</h2>

<ul>
<% @news["results"].each_with_index do |result, index| %>
	<li><%= link_to @news["results"][index]["title"], @news["results"][index]["url"] %></li>
	<% end %>
</ul>



<div class="follow button">
<% if user_signed_in? %>
	<%= render partial: "subscriptions/form" %>
<% else %>
	<small>Sign in to subscribe to this page!</small>
<% end %>
</div>

