<!DOCTYPE html>
<html>
<head>
  <title>MarijuanaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>
<header>
  <%= image_tag('usatodaylogo.png', class: 'logo', height:'35') %></h1>
  <%= image_tag('usericon.png', class: 'user_image', height: '35')%></h2>
</header>
<body>

  <div class="nav">
    <p>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>
    <li>  <%= link_to 'Signout', destroy_user_session_path, :method => :delete %> </li>
    <% else %>
    <li>  <%= link_to "Sign up", new_user_registration_path %> </li>
    <li>  <%= link_to "Login", new_user_session_path %> </li>
    <% end %>
  </p>
  <ul>
    <% if user_signed_in? %>
    <li><%= link_to "Your Profile", '/profile' %></li>
    <% end %>
    <li><%= link_to "Home Page", '/states' %></li>
  </ul>
<div>

<%= yield %>

</body>
<footer>
  <div class = "disclaimer">
    <small>Disclaimer: This is not intended for or offered for legal advice. It is for informational and educational purposes
      only. It also does not capture nuances of the laws, many of which are a dozen or more pages. Please consult with
     an attorney licensed to practice in the state in question for legal advice. <small>
</footer>
</html>
